.list-widget {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.widget-image {
    width: 50px;
    height: 50px;
}

.widget-title-city {
    display: flex;
    flex-direction: column;
}

.widget-title-city a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.widget-title-city a:hover {
    text-decoration: underline;
}

.widget-price p {
    font-size: 20px;
    font-weight: bold;
    color: #ed6969;
}