@import url('variables.css');

.messages-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.messages-main-div {
    width: 100%;
    max-width: 1280px;
    padding: 20px;
    display: flex;
}

.messages-left-container {
    width: 30%;
    padding: 20px;
}

.messages-right-container {
    width: 70%;
    padding: 20px;
}

.messages-search-container {
    display: flex;
}

.search-icon-container {
    width: 40px;
    height: 40px;
    border: 2px solid #ddd;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages-search-container input {
    height: 40px;
    border: 2px solid #ddd;
    border-radius: 0px 10px 10px 0px;
    border-left: none;
    width: 100%;
    outline: none;
    font-weight: bold;
}

.messages-sender-container {
    width: 100%;
    height: 600px;
}

.sender-container {
    width: 100%;
    height: 100px;
    background-color: var(--background-light);
    margin: 20px 0px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: .3s;
    display: flex;
}

.sender-container:hover {
    background-color: var(--border-color);
}

.sender-container:hover .online-status-div {
    border-color: var(--border-color);
}

.sender-container:hover .offline-status-div {
    border-color: var(--border-color);
}

.profile-image-status {
    width: 100px;
    height: 100%;
    margin: 0px 20px;
    padding-top: 20px;
    position: relative;
}

.sender-container img {
    width: 60px;
}

.sender-info-container {
    padding: 20px;
    padding-left: 0px;
}

.sender-info-container h4,
.sender-info-container p {
    margin: 0;
}

.sender-info-container p {
    margin-top: 5px;
    color: var(--greytext);
    font-size: 14px;
    line-height: 15px;
}

.offline-status-div,
.online-status-div {
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid white;
    transition-duration: .3s;
}

.offline-status-div {
    background-color: red;
}

.online-status-div {
    background-color: rgb(126, 218, 126);
}

/* 
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 10px;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.main-chat-div {
    width: 400px;
    border: 1px solid black;
    height: 300px;
    padding: 10px;
    padding-right: 5px;
}

.chat-form-div {
    width: 400px;
    height: 300px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.header-div {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.send-div {
    width: 400px;
    display: flex;
}

.send-input {
    width: 90%;
}

.send-btn {
    width: 10%;
}

.users-div {
    width: 200px;
    border: 1px dotted black;
    padding: 10px;
}

.user-div {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-div:hover {
    background-color: rgb(207, 204, 204);
}


.count-unread-div {
    width: 20px;
    height: 20px;
    background-color: rgb(89, 229, 55);
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
}

.chat-div {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-div::-webkit-scrollbar {
    width: 6px;
}

.chat-div::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}

.chat-div::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.sender-div {
    width: 60%;
    height: 40px;
    background-color: #e4cbcb;
    border-radius: 10px 10px 0px 10px;
    margin-left: 34%;
    padding: 8px;
}

.receiver-div {
    width: 60%;
    height: 40px;
    background-color: #ed6969;
    border-radius: 10px 10px 10px 0px;
    padding: 8px;
}

.small-data {
    font-size: 10px;
    margin-left: 40%;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.left-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.offline-status-div {
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 20px;
}

.online-status-div {
    width: 6px;
    height: 6px;
    background-color: rgb(0, 255, 98);
    border-radius: 20px;
} */