@import url('variables.css');

.user-image-short-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 50px;
}

.stat-main-container {
    border-right: 1px solid #ddd;
    flex-direction: column;
    justify-content: start;
    padding-left: 20px;
}

.stat-header {
    width: 100%;
    display: flex;
    align-items: center;
}

.stat-header p {
    text-transform: uppercase;
    font-size: 16px;
    height: 16px;
    margin-right: 5px;
    font-weight: bold;
}

.text-separator-horizontal {
    width: 100%;
    height: 1px;
    border: 2px solid var(--border-color);
    border-bottom: none;
}

.user-image-container {
    width: 28%;
    /* background-color: var(--background-light); */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    padding-bottom: 10px;
}

.user-image-container img {
    max-width: 170px;
}

.user-short-container {
    padding: 20px;
    border-radius: 5px;
    margin-left: 10px;
    width: 82%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* background-color: var(--background-light); */
    overflow: hidden;
}

.name-location h3,
.name-location img,
.name-location p {
    display: inline-block;
}

.name-location h3 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    color: black;
}

.loc-img-p {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.name-location img {
    width: 24px;
}

.name-location p {
    margin: 0;
    color: black;
    font-size: 24px;
}


.user-rates p {
    color: black;
    margin: 0;
}

.rate-label {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.positive-negative-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.positive-negative-container p {
    font-weight: bold;
    font-size: 16px;
    margin-top: 0px;
}

.positive-emoji {
    cursor: pointer;
    stroke: #29a046;
    fill: none;
    /* fill: white; */
    transition-duration: .3s;
    background-color: white;
    border-radius: 50%;
}

.positive-emoji line {
    stroke: #29a046;
}

.positive-emoji path {
    stroke: #29a046;
}

.positive-emoji:hover {
    background-color: #29a046;
    stroke: white;
    border-radius: 50%;
}

.positive-emoji:hover line {
    stroke: white;
}

.positive-emoji:hover path {
    stroke: white;
}

.negative-emoji {
    cursor: pointer;
    stroke: white;
    fill: none;
    /* fill: white; */
    transition-duration: .3s;
    background-color: white;
    border-radius: 50%;
}

.negative-emoji:hover {
    background-color: red;
}

.negative-emoji:hover circle {
    stroke: white;
}

.negative-emoji:hover path {
    stroke: white;
}


.user-btn {
    display: inline-block;
    margin-right: 10px;
}

.user-send-message {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    padding: 10px 17px;
    cursor: pointer;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.user-send-message img {
    width: 20px;
    margin-right: 5px;
}

.user-send-message a {
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.user-send-message.report {
    background-color: #ffe6e6;
}

.user-send-message.report a {
    color: #ed6969;
}

.navigation {
    width: 100%;
    display: flex;
    border-bottom: 2px solid var(--border-color);
}

.user-ads-info {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.user-ads-info img {
    width: 20px;
}

.user-ads-info a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
}

.click-identificator {
    border: 1px solid var(--main-color);
}

.click-identificator {
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.user-preview-container {
    position: relative;
    width: 200%;
    display: flex;
    left: -100%;
}

.user-preview-container.ads {
    animation: showUserAds 0.3s ease-in-out forwards;
}

@keyframes showUserAds {
    0% {
        left: -100%;
    }

    100% {
        left: 0%;
    }
}

.user-preview-container.info {
    animation: showUserInfo 0.3s ease-in-out forwards;
}

@keyframes showUserInfo {
    0% {
        left: 0%;
    }

    100% {
        left: -100%;
    }
}

.user-about-container {
    width: 50%;
    padding: 10px 20px;
}

.user-about-container h3 {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--greytext);
    margin-bottom: 10px;
}

.about-info-row {
    display: flex;
    margin-bottom: 5px;
}

.about-main {
    width: 150px;
    margin: 0;
    color: black;
}

.user-interactions {
    margin-top: 30px;
}

.user-phone {
    color: var(--blue-color);
}

.user-info {
    color: black;
}

.ads-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-widget {
    width: 100%;
    padding: 20px;
    display: flex;
    background-color: white;
    border-bottom: 1px solid var(--border-color);
}

.widget-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.widget-info-container {
    padding-left: 20px;
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.widget-info-container a {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    color: black;
    font-weight: 500;
}

.widget-info-container a:hover {
    text-decoration: underline;
    color: var(--blue-color);
}

.stars-and-rate {
    width: 100%;
    display: flex;
    align-items: center;
}

.stars-and-rate img {
    width: 120px;
}

.stars-and-rate p {
    margin: 0;
    margin-left: 10px;
    font-size: 16px;
}

.old-and-new-price p {
    margin: 0;
}

.old-price {
    font-size: 16px;
    color: var(--greytext);
    text-decoration: line-through;
    margin-bottom: 10px;
}

.new-price {
    font-size: 28px;
    padding-top: 10px;
    color: var(--main-color);
    font-weight: 600;
}

.description p {
    color: var(--greytext);
}

.action-container {
    width: 200px;
    text-align: end;
    height: 100%;
}

.action-compare-container {
    width: 35px;
    height: 35px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    display: inline-block;
    margin: 0px 3px;
}

.action-compare-container .content-container {
    width: 100%;
    height: 100%;
    margin: 0;
}

.action-compare-container .content-container img {
    width: 20px;
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.stat-main {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.stat-main p {
    margin: 0;
    margin-bottom: 5px;
}

.stat-main span {
    font-weight: bold;
}

.donut-chart-brands {
    margin-top: 20px;
}

.donut-container {
    display: flex;
    align-items: start;
    flex-direction: row;
}

.donut-info {
    padding-left: 20px;
    padding-right: 20px;
}

.donut-info-row {
    display: flex;
    align-items: center;
}

.donut-chart-brands h4 {
    font-weight: normal;
    color: black;
}

.donut-info-row p {
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    background-color: var(--border-color);
    border: none;
}

.color-identificator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.report-backgound-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2000;
    padding: 20px;
    display: none;
    justify-content: center;
    align-items: center;
}

.report-success {
    display: none;
    margin-top: 30px;
    margin-bottom: 30px
}

.report-main-container {
    width: 100%;
    max-width: 500px;
    padding: 40px;
    background-color: white;
    transform: scale(0);
    opacity: 0;
}

.image-report-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.image-report-container img {
    width: 30px;
}


.image-report-container p {
    margin: 0;
    padding: 0;
    font-size: 26px;
    margin-left: 10px;
}

.admin-text {
    font-size: 12px;
    line-height: 14px;
    color: var(--greytext);
    font-style: italic;
}

.report-info {
    margin-top: 0;
    margin-bottom: 20px;
}

.report-message-container {
    margin-bottom: 30px;
}

.report-message {
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    padding: 10px;
    border-color: #ddd;
}

.report-main-container.active {
    animation: showReportConfirm 0.3s ease-in-out forwards;
}

.report-main-container.close {
    animation: deleteReportConfirm 0.3s ease-in-out forwards;
}

@keyframes showReportConfirm {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes deleteReportConfirm {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.not-found-container {
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: none;
}

.not-found-container img {
    width: 100px;
    margin-bottom: 20px;
}

.not-found-container p {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.report-confirm {
    width: 100%;
    background-color: #041e42;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.report-confirm img {
    width: 20px;
    margin-top: -2px;
    margin-right: 5px;
}

@media screen and (max-width: 1000px) {
    .mainpagediv {
        padding: 0;
    }

    .stars-and-rate {
        display: none;
    }

    .widget-info-container a {
        font-size: 18px;
    }

    .user-widget {
        padding-left: 0px;
        padding-right: 0px;
    }

    .donut-info {
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .donut-container {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
}

@media screen and (max-width: 767px) {
    .user-image-short-container {
        display: flex;
        flex-direction: column;
    }

    .user-image-container,
    .user-short-container {
        width: 100%;
        margin: 0;
    }

    .user-image-container {
        display: flex;
        justify-content: start;
    }

    .user-image-container img {
        max-width: 200px;
    }

    .donut-container {
        display: flex;
        flex-direction: row;
    }

    .donut-info {
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .widget-info-container {
        height: auto;
    }

    .widget-image {
        width: 80px;
        height: 80px;
    }

    .old-price {
        display: none;
    }

    .new-price {
        font-size: 18px;
    }

    .description {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    .user-image-container {
        display: flex;
        justify-content: center;
    }

    .action-container {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .about-info-row {
        flex-direction: column;
        margin-bottom: 5px;
    }
}