:root {
    --border-color: #ddd;
    --blue-color: #0086e6;
    --third-color: #041e42;
    --main-color: #ed6969;
    --fourth-color: #fbbd28;
    --background-light: #f7f8f9;
    --greytext: #818ea0;
}